BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 105
AllowShortFunctionsOnASingleLine: Empty

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: Align
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BreakBeforeBinaryOperators: None